</div>
</div>
<footer>
    <div class="card text-center bg-dark" style="--bs-bg-opacity: .95; color:whitesmoke">
        <div class="card-header">
            -
        </div>
        <div class="card-body">
            <h5 class="card-title">Data Mining 2023</h5>
            <p class="card-text">Situs Web ini ditujukan untuk bidang keilmuan Kecerdasan Buatan dan Penambangan Data
            </p>
            <a href="http://github.com/ivanpakpahan27"><i class="fa-lg fab fa-github" style="color: wheat;"></i></a>
        </div>
        <div class="card-footer text-muted">
            &copy 2023
        </div>
    </div>
</footer>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'id', includedLanguages: 'en,id' }, 'google_translate_element');
    }
</script>
<script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="/static/assets/css/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/assets/js/main/script.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    }
    )
</script>
</body>

</html>