{%include 'separated/header.html'%}
<div class="main-content mt-5">
  <div class="card card-profil" style="width: 20rem; margin: auto">
    <img
      src="/static/assets/image/profil/20190728_174512-1.jpg"
      class="card-img-top-profil"
      alt="..."
    />
    <div class="card-body-profil">
      <h5 class="card-title-profil">Ivan Pakpahan</h5>
      <p class="card-text">
        Fresh-graduate Teknik Informatika, Institut Teknologi Nasional Bandung
        memiliki pengalaman magang selama 4 bulan sebagai web developer di PT.
        Gamelab Indonesia. Berpengalaman menggunakan Oracle dan MySQL Database.
        <br />Terlatih menggunakan bahasa pemrograman Python, Tableau, dan
        Microsoft Office. Menguasai konfigurasi dasar sistem jaringan komputer
        dan keamanan jaringan komputer. <br />Memiliki skill dasar dalam
        mengoperasikan Mikrokontroller Arduino dan Raspberry Pi. Dapat
        bekerjasama dalam tim dan memiliki kemampuan komunikasi yang baik.
      </p>
    </div>
  </div>
</div>
{%include 'separated/footer.html'%}
